@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
  font-family: 'Bellefair', serif;
}

ul{
  list-style:none;
}

.barlow{
  font-family: 'Barlow Condensed', sans-serif;
}


.home{
background-image: url("/public/assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hoverbg{
  z-index: -1;
  background-color:rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in;
}

.explore:hover ~ .hoverbg{
  transform: scale(1.3);

}



/* tablet */
@media(max-width:966px){
  .home{
    background-image: url('/public/assets/home/background-home-tablet.jpg');
  }
}


/* mobile */
@media(max-width:500px){
  .home{
    background-image: url('/public/assets/home/background-home-mobile.jpg');
  }
  .nav_links{
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(5px);
    top:0;
    right: 0;
    height: 100vh;
    transition: all 0.3s ease-in-out;
  }
  .close{
    right:-100% !important;
  }
}