@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');


*{
  font-family: 'Bellefair', serif;
}

ul{
  list-style:none;
}

.home{
background-image: url("/public/assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.explore::before{
  content: '';
  position: absolute;
  width:100%;
  height: 100%;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  border-radius: 50%;
 
  background: white;
  stroke:#979797;
  transition: all 0.2s ease-in-out;
}

.explore:hover::before{
  width:130%;
  height: 130%;
}


/* tablet */
@media(max-width:966px){
  .home{
    background-image: url('/public/assets/home/background-home-tablet.jpg');
  }
}


/* mobile */
@media(max-width:500px){
  .home{
    background-image: url('/public/assets/home/background-home-mobile.jpg');
  }
}